.side{
    width: 900px;
    height: 100vh;
   background-image: url("../assets/images/half.png");
    background-size: cover;
    background-repeat: no-repeat;

}
.logo{
    position: absolute;
    width: 400px;
    height: 250px;
    background-image: url("../assets/images/Uneed-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 40px;
    left: 20px;

}
.custom-image{
    position: absolute;
    width: 800px;
    height: 500px;
    background-image: url("../assets/images/family_shopping.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
}
.left-section{
    position: relative;
    width: 700px;

}
.right-section{
    width: 1000px;
    height: 100vh;
    position: absolute;
    right: 0;
   top: 0;
}
.right-section h1{
    position: absolute;
    color:#F25C05;
    font-size: 100px;
    font-family: Inter, serif;
    font-weight: bold;

    left: 100px;

    top: 100px;
}

.username{
    position: absolute;
    left: 0;
    top: 300px;
    width: 600px;
}
.username label i{
    font-size: 50px;
    color: #025159;
    margin-right: 30px;
    margin-bottom: 30px;
}
.username label{
    color: #025159;
    font-size: 40px;
    font-family: "Abyssinica SIL", serif;
}
.username input{
    height: 50px;
    border: 3px solid rgba(33, 153, 166, 0.35);
}

.password{
    position: absolute;
    width: 600px;
    left: 0;
    top: 500px;

}

.password label i{
    font-size: 50px;
    color: #025159;
    margin-right: 30px;
    margin-bottom: 30px;
}
.password label{
    color: #025159;
    font-size: 40px;
    font-family: "Abyssinica SIL", serif;
}

.password input{
    height: 50px;
    border: 3px solid rgba(33, 153, 166, 0.35);
}
.password button{
    border: 3px solid rgba(33, 153, 166, 0.35);
}

.sign-in-button{
    position: absolute;
    bottom: 100px;
    background-color: #2199A6;
    width: 400px;
    border-radius: 50px;
    height: 50px;
    color: white;
    font-size: 28px;
    left: 100px;
    font-family: Inter, serif;

}
.sign-in-button:hover{
    background-color: #025159;
}


@media all and (max-width: 1000px){
    .left-section{
       display: none;
    }
    .right-section{
        left: 100px;
        width: 20%;
    }

    .right-section h1{
        left: 150px;
        height:100px;
        width: 200px;
        font-size: 60px;
    }

}
@media all and (max-width: 768px){
   .username,.password{
       width: 400px;
   }
    .password input ,.username input{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        height: 50px;
    }
    .sign-in-button{
        width: 200px;

    }
    .username label , .password label{
        font-size: 30px;
    }
    .username label i , .password  label i{
        font-size: 30px;
    }
    .right-section h1{
        left: 0;
        right: 0;
        margin: auto;
    }

}
